<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gymoji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GymojiKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A937DDB1D2B530B002F3C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A937DF41D2B530C002F3C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A937DFF1D2B530C002F3C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADAF09E1D35E07700DEFBA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC9ECB5D1D37323900A329FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
